<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854414681911-5bdpqtc114kmc9mgl1a5b2gfoep613l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854414681911-5bdpqtc114kmc9mgl1a5b2gfoep613l3</string>
	<key>API_KEY</key>
	<string>AIzaSyA5tPcqTqozNWASCeyGO3I0f5Ldcz5_y48</string>
	<key>GCM_SENDER_ID</key>
	<string>854414681911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Salma.To-do</string>
	<key>PROJECT_ID</key>
	<string>todo1-352ae</string>
	<key>STORAGE_BUCKET</key>
	<string>todo1-352ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854414681911:ios:d92aab4bcbc2822ffe1cb2</string>
</dict>
</plist>